.img1
{
    width: 80%;
}
.a
{
    text-align: center;
    padding-top: 20px;
    text-transform: uppercase;
    font-family: 'prague';
    letter-spacing: 3px;
}
.b
{
    line-height: 34px;
    letter-spacing: 1px;
    word-spacing: 1px;
    padding-right: 5px;
    text-align: justify;
}
.c
{
    background: url(https://pn-paul.netlify.app/image/img%20background.jpg);
    width: 100%;
    /* height: 500px; */
    padding: 48px 40px;  
    background-size: cover;
    /* padding-top:140px;
    padding-bottom: 120px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}
.h
{
    background: url(https://pn-paul.netlify.app/image/ffback2.png);
    width: 100%;
    /* height: 500px; */
    padding: 48px 40px;  
    background-size: cover;
    /* padding-top:140px;
    padding-bottom: 120px; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
     
}
.d
{
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: white;
    margin-top: 102px;
    text-align: center;
    
}
.e
{
    line-height: 40px;
    letter-spacing: 1px;
    color: white;

}
.j
{
    background-color: black;
}
.bt
{
    margin-top: 28px;
    margin-bottom: 100px;
    /* text-transform: capitalize; */
}
.t
{
    color: rgb(213, 211, 211);
}
h2
{
    font-family:"Arial";
}
.logo
{
    width:64px;
}
.navbar
{
    background-color: #00000082 !important;
    font-family:"Arial";

}
.navbar-nav li
{
    padding: 0px 11px;
}
.navbar-nav li a
{
    color: #fff !important;
    text-transform: uppercase;
    /* font-weight:600; */
    font-size: 14px;
}
.navbar-nav li a:hover
{
    background-color: orange;
}
.moblogo
{
    display: none;
}
.ib
{
    height: 648px;
}
@media (max-width:768px)
{
    .moblogo
    {
        display:block;
    }
    .logo
    {
        display:none;
    }
    .navbar
    {
        background-color:orange !important;
    }
}